<chore-header>
</chore-header>
<div id="surface">
    <main class="mainBoard viewEditBoard">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="boardHeading"> <i class="ion-person"></i> Personal Board</h2>
        </div>

        <chore-create-board></chore-create-board>
        <chore-list-board></chore-list-board>
        <div class="clearfix"></div>




        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="boardHeading"> <i class=" fa fa-lg ion-ios-people"></i> Team Members Board</h2>
        </div>

        <div class="col-lg-3">
            <div class="portlet">
                <div class="portlet-heading bg-teal">
                    <h3 class="portlet-title">
                        Teal Heading
                    </h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#bg-teal"><i class="ion-minus-round"></i></a>
                        <span class="divider"></span>
                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-collapse collapse in">
                    <div class="portlet-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>