<div class="col-lg-3" *ngFor="let item of portletDataArray; let portletIndex = index">

    <div class="portlet">
        <div class="portlet-heading bg-teal">
            <h3 class="portlet-title" (click)="showNameForm(item.portletName)" *ngIf="!viewName">
                {{item.portletName}}
            </h3>
            <div class="pull-left nameForm" *ngIf="viewName">
                <form [formGroup]="changeCardName">
                    <input type="text" class="form-control input-sm" formControlName="cardName" [(ngModel)]="item.portletName" focus="true" autofocus (blur)="hideNameForm(item.portletId)">
                </form>
            </div>
            <div class="portlet-widgets">
                <chore-portlet-actions [portlet]="item" (portletUpdate)="portletUpdate($event)"></chore-portlet-actions>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="list-cards" [dragula]='"first-bag"' [attr.data-portlet-id]="item.portletId">
            <div class="portletAddIns" *ngIf="item.portletCards.length <= 0">
                Please Add a card
            </div>
            <div class="portlet-body" (click)="openModal(content)" *ngFor="let card of item.portletCards; let cardIndex = index" [attr.data-card-id]="card.portletCardId" [attr.data-portlet-id]="item.portletId">
                <chore-portlet-card-label [card]="card"></chore-portlet-card-label>
                <div class="js-badges">
                    <div class="faicons" title="This card has a description." *ngIf="card.portletCardsDescription"><span class="badge-icon fa fa-align-left"></span></div>
                    <div class="faicons" title="Attachments" *ngIf="card.portletCardsAttachments.length > 0"><span class="badge-icon fa fa-paperclip"></span><span class="badge-text"> {{card.portletCardsAttachments.length}}</span></div>
                    <div class="faicons" title="comments" *ngIf="card.portletCardsComments.length > 0"><span class="badge-icon fa fa-comment"></span><span class="badge-text"> {{card.portletCardsComments.length}}</span></div>
                    <div class="faicons" *ngIf="card.portletCardsTodo.length > 0" title="checklist"><span class="badge-icon fa fa-check-square-o"></span><span class="badge-text"> {{card.portletCardsTodo.length}}</span></div>
                    <div class="faicons" *ngIf="card.portletCardDueDate">
                        <span class="btn btn-default btn-xs" [ngClass]="{'btn-success': diffDays >= 0, 'btn-danger' : diffDays < 0}"><span><i class="fa fa-clock-o"></i> {{date | date}}</span>
                        <form [formGroup]="dueDateForm">
                            <input class="form-control" formControlName="duedate" placeholder="yyyy-mm-dd" type="hidden" [(ngModel)]="card.portletCardDueDate" (ngModelChange)="onDateChange(card.portletCardDueDate)">
                        </form>
                        </span>
                    </div>
                    <div class="faicons" title="checklist"><span class="badge-text">&nbsp;</span></div>
                </div>
                <div class="js-badges">
                    <ul class="display-edit-labels-pop-over small-tags">
                        <li *ngFor="let item of board.boardTagLabels">
                            <span class="card-label mod-selectable" *ngIf="item.portletCardId.indexOf(card.portletCardId) !== -1" [ngClass]="item.class" [style.background-color]="item.bg" title="{{item.name}}">

                            </span>
                        </li>
                    </ul>
                </div>
                <div class="colorLable">
                    <span class="bg-green-light"></span>
                </div>

                <chore-portlet-assined></chore-portlet-assined>
                <ng-template #content let-c="close" let-d="dismiss">
                    <a class="fa fa-lg ion-close dialog-close-button" href="javascript:void(0)" (click)="d('Cross click')"></a>
                    <chore-portlet-modal [card]="card" [board]="board" [portletIndex]="portletIndex" [cardIndex]="cardIndex" (cardUpdate)="cardUpdate($event)"></chore-portlet-modal>
                </ng-template>
            </div>
            <form #form="ngForm" (ngSubmit)="addCard(form, item)">
                <div class="portlet-body addCardBody" [hidden]="!item.hideme">
                    <div class="form-group m-b-0">
                        <label class="control-label sr-only" for="card">Add a Card</label>
                        <textarea id="card" type="text" placeholder="Add a Card" class="form-control input-md textboxchange" focus="true" name="cardlabel" ngModel></textarea>
                        <button class="btn btn-teal m-t-10 v-m i-b" type="submit">Add</button>
                        <a href="#" class="icon-sm ion-close m-l-10 v-m i-b m-t-10" (click)="$event.stopPropagation(); $event.preventDefault();item.hideme = !item.hideme"></a>
                    </div>
                </div>
            </form>


        </div>
        <a class="open-card-composer" href="#" (click)="$event.stopPropagation(); $event.preventDefault();item.hideme = !item.hideme">Add a card…</a>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="col-lg-3">
    <span class="newPortlet" ngbDropdownToggle ngbDropdown #portletAddDrop="ngbDropdown">Add a Portlet</span>
    <div class="pop-over dropdown-menu" style="left:15px; top: -1px;" (click)="$event.stopPropagation(); portletAddDrop.open();">
        <div class="popover-content">
            <form [formGroup]="updatePortletForm" (ngSubmit)="addPortlet(boardIndex)">
                <div class="form-group m-b-0">
                    <label class="control-label sr-only" for="Name">Add a Portlet</label>
                    <input id="Name" name="Name" type="text" placeholder="Add a Portlet" class="form-control input-md textboxchange" formControlName="portletname" focus="true" autocomplete="off">
                    <button class="btn btn-teal m-t-10 v-m i-b" type="submit">Add</button>
                    <a href="#" class="icon-sm ion-close m-l-10 v-m i-b m-t-10" (click)="$event.stopPropagation(); $event.preventDefault(); portletAddDrop.close();"></a>
                </div>
            </form>
        </div>
    </div>
</div>