<section class="todoapp">
    <div class="window-module-title window-module-title-no-divider "><span class="window-module-title-icon fa fa-2x fa-list-ol "></span>
        <h3>Todos</h3>
    </div>
    <div class="todoWrapper u-gutter">
        <input class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
        <section class="todoContent" *ngIf="todoStore.todos.length > 0">
            <input class="toggle-all" type="checkbox" *ngIf="todoStore.todos.length" #toggleall [checked]="todoStore.allCompleted()" (click)="todoStore.setAllTo(toggleall.checked)">
            <ul class="todo-list">
                <li *ngFor="let todo of todoStore.todos; let i = index" [class.completed]="todo.completed" [class.editing]="todo.editing">
                    <div class="view">
                        <input class="toggle" type="checkbox" id="{{todo._title}}_{{i}}" (click)="toggleCompletion(todo)" [checked]="todo.completed">
                        <label for="{{todo._title}}_{{i}}" (dblclick)="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy btn-xm btn-default btn" (click)="remove(todo)"><i class="fa ion-android-close fa-2x"></i></button>
                    </div>
                    <input class="edit" *ngIf="todo.editing" [value]="todo.title" let editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
                </li>
            </ul>
        </section>
        <footer class="todoFooter" *ngIf="todoStore.todos.length > 0">
            <span class="todo-count"><strong>{{todoStore.getRemaining().length}}</strong> {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left</span>
            <button class="clear-completed btn btn-xs btn-default" *ngIf="todoStore.getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
        </footer>
    </div>

</section>