<div class="app app-fh app-loaded">
    <!-- START APP CONTAINER -->
    <div class="app-container" style="background: url(assets/images/bg-1.jpg) center center no-repeat fixed">
        <div class="app-login-box">
            <div class="app-login-box-title padding-top-30">
                <div class="title">Sign Up</div>
                <div class="subtitle">Join our community with email</div>
            </div>
            <!--<div class="app-login-box-container margin-top-20"><button class="btn btn-facebook btn-block">Connect With Facebook</button> <button class="btn btn-twitter btn-block">Connect With Twitter</button></div>-->
            <div class="app-login-box-container">
                <div class="title">Sign in with email</div>
                <form action="index.html" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6"><input type="text" class="form-control" name="name" placeholder="Name"></div>
                            <div class="col-md-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name"></div>
                        </div>
                    </div>
                    <div class="form-group"><input type="text" class="form-control" name="login" placeholder="Email Address"></div>
                    <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password"></div>
                    <div class="form-group"><button class="btn btn-teal btn-block">Create Account</button></div>
                </form>
            </div>
            <div class="app-login-box-footer">© Chore 2017. All rights reserved.</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- END APP CONTAINER -->
</div>